
.home{
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
    width: 29rem;
    padding: 4rem;
    margin-left: 10rem;
}
.jbtn{
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    font-size: large;
    padding: 0rem 2rem;
    border-radius: 1.2rem;
    border: none;
    background: linear-gradient(
        to right,
        #ffc115,
        #f28c26
    );
    cursor: pointer;
    color: white;
}
@media (max-width:1150px){
    .home{
        margin-left: 0;
        /* width: 100%; */
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    .home{
        /* width: 90%; */
        height: 40vh;
        padding: 0rem 2rem;
        justify-content: unset;
        padding-top: 3rem;
    }
}