@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}
body{
  
  max-width: 100% !important;
  overflow-x: hidden !important;
  background: url('./img/bg.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}
.App {
  max-height: 90vh;
  text-align: center;
}
